body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 5rem;
    text-align: center;
    height: 100vh;
}

.title {
    font-size: 5rem;
    margin-bottom: .5rem;
    font-weight: bold;
}

.description {
    font-size: 2rem;
}

.container {
    text-align: center;
}

.subtitle {
    font-size: 4rem;
    font-weight: bold;
}

.get-started-button {
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 2rem 4rem;
    font-size: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.get-started-button:hover {
    background-color: #000;
    color: white;
    transform: scale(1.05);
}

.buy-me-a-coffee-button {
    background-color: #ffdd00;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 2rem 4rem;
    font-size: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-left: 1rem;
    transition: transform 0.3s ease;
}

.buy-me-a-coffee-button:hover {
    background-color: #ffdd00;
    color: black;
    transform: scale(1.05);
}

.how-it-works-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.how-it-works-item {
    margin: 2rem;
    padding: 2rem;
    border: 1px solid #000;
    border-radius: 1rem;
    width: 30%;
}

.how-it-works-item-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.how-it-works-item-description {
    font-size: 1.5rem;
    text-align: center;
}
